@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

.welcome {
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

.welcome p {
  font-size: 20px;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

#reviews-section h2 {
  margin-top: 26px;
}

.review-list {
  height: 400px;
  width: 100%;
  overflow-y: scroll;
}

.form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
