
<h2>Products:</h2>

<% if @products.any? %>
  <% @products.all.each do |product| %>
    <h3><%= link_to product.name, product_path(product) %></h3>
  <% end %>
<% else %>
  <p>There are not products.</p>
<% end %>
