<div class="welcome">
  <h1>Welcome to Craftsy!</h1>

  <p>Here at Craftsy we value and encourage creativity. We think crafts are the perfect way to express yourself. You can find all things from beads to plain wooden templates for you to paint, bejewel, or carve to your hearts desire.</p>
</div>
